
# Migrations
MIGRATIONS_AUTO_APPLY=1

# NextAuth (obrigatório; gere com: npx auth secret)
AUTH_SECRET=12a1a733fda619a9f0a48394d5d5605b18dfe771418e1f13086fe38e950b77f5

# App
FIFO_ENABLED=1

# NF-e: NFE_PROVIDER=test para simular emissão (opcional)
# NFE_PROVIDER=test

POSTGRES_HOST=ep-rough-wave-adu4zhsi.c-2.us-east-1.aws.neon.tech
POSTGRES_PORT=5432
POSTGRES_USER=neondb_owner
POSTGRES_PASSWORD=npg_a97BswJVgOFb
POSTGRES_DB=neondb
