/* pages/globals.css */

/* ============================= */
/* 🎨 Importando Tailwind CSS */
/* ============================= */
@import "tailwindcss";

/* ============================= */
/* 🎨 Variáveis de cores e dark mode */
/* ============================= */
:root {
  --color-bg-primary: #e0dede46;
  --color-bg-secondary: #f9fafb;
  --color-text-primary: #03275a;
  --color-text-secondary: #6b7280;
  --color-accent: #088a06;
  --color-accent-hover: #088a06cc;
  --color-accent-cancel: #c5b5ab;
  --color-accent-cancel-hover: #c5b5abcc;
  --color-border: #e5e7eb;

  --radius-default: 0.5rem;
  --radius-lg: 1rem;
  --radius-xl: 1.5rem;
}

.dark {
  --color-bg-primary: #071433;
  --color-bg-secondary: #1e293b;
  --color-text-primary: #f8fafc;
  --color-text-secondary: #94a3b8;
  --color-accent: #38bdf8;
  --color-accent-hover: #0ea5e9;
  --color-accent-cancel: #419c6f;
  --color-accent-cancel-hover: #419c6fcc;
  --color-border: #334155;
}

/* ============================= */
/* 📝 Estilos globais básicos */
/* ============================= */
body {
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
  font-family: Inter, ui-sans-serif, system-ui;
  transition:
    background-color 0.8s ease-in-out,
    color 0.8s ease-in-out;
}

/* ============================= */
/* 🖱 Scrollbar personalizado (Webkit) */
/* ============================= */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: var(--color-bg-secondary);
  transition: background 0.8s ease-in-out;
}
::-webkit-scrollbar-thumb {
  background: var(--color-text-secondary);
  border-radius: 5px;
  transition: background 0.8s ease-in-out;
}
.dark ::-webkit-scrollbar-thumb:hover {
  background: var(--color-accent-hover);
}
